<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--spring bean cfgs -->
	<bean id="dt" class="java.util.Date" />

	<!-- <bean id="wmg" class="com.nit.beans.WishMessageGenerator" scope="singleton">
		<property name="date" ref="dt" />  Setter Injection
	</bean>
	
	<bean id="wmg1" class="com.nit.beans.WishMessageGenerator" scope="singleton">
		<property name="date" ref="dt" />  Setter Injection
	</bean>
	
	<bean id="p1" class="com.nit.ston.Printer" factory-method="getInstance"/>
	<bean id="p" class="com.nit.ston.Printer" factory-method="getInstance"/> -->
	
	<bean id="wmg" class="com.nit.beans.WishMessageGenerator" scope="prototype">
		<property name="date" ref="dt" />
	</bean>
	
	<bean id="p1" class="com.nit.ston.Printer" scope="prototype" factory-method="getInstance"/>
</beans>